/* font-family: 'Kanit', sans-serif; 
font-family: 'Days One', sans-serif;*/

body {
    max-width: 1040px;
    margin: 0 auto;
    padding: 1rem;
}
main {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 840px;
}
section {
    padding: 1.2rem;
}

header, h1, h2, h3, .font1 {
    font-family: 'Days One', sans-serif;
}
.font2, p, th, td {
    font-family: 'Kanit', sans-serif;
}
.primary {
    background-color: #002b60;
    color: white;
}
.secondary-table {
    background-color: #D8D4D8;
    color: black;
}
.secondary {
    color: #4A3C31;
}
.font1 {
    color: #4A3C31;
}
header {
    background-color: #002b60;
    color: white;
    text-align: center;
    padding: 1rem;
}
p {
    font-size: 1.2rem;
    padding: 1rem;
}
table {
    margin: 0 auto;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    width: 100%;
}
.color-box {
    background-color: #D8D4D8;
}
td {
    padding: 1.5rem;
}