/* small view navigation */
:root {
    --main-color: #033e87;
    --sub-color: #D8D4D8;
    --main-font: 'Days One', sans-serif;
    --sub-font: 'Kanit', sans-serif;
}
body {
    margin: 0 auto;
}
h1 {

    font-size: 1.3rem;
    margin-left: 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}
header {
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font);
    padding: 2rem;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: fixed;
	top: 10px;
	right: 10px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "<<";
}

.navigation {
	display: flex;
	flex-direction: column;
	/* list-style: none; */
    background-color: var(--sub-color);
}
.navigation div {
	display: none;
}
.navigation a {
	display: flex;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: black;
    font-family: var(--sub-font);
    width: 100%;
}
nav a:hover {
	background-color: black;
	color: white;
	/* font-weight: 700; */
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.navigation.open div {
	display: flex;
	width: 100%;
}

.navigation.open div a {
	display: block;
    width: 100%;
}
.navigation div a {
    display: block;
    width: 100%;
}

nav .active {
	border: 4px solid black;
    background-color: white;

}

h1, h2, h3 {
    font-family: var(--main-font);
}
p {
    font-family: var(--sub-font);
}


.hero {
    position: relative;
    height: 500px;
    grid-row: 1/2;
}

.hero-img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 40%;
}

.hero-content {
    position: absolute;
}

.hero-title {
    padding-top: 1rem;
    padding-left: 2.5rem;
    text-align: left;
    font-size: 2rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    width: 80%;
    margin-top: 200px;
    padding-left: 2.5rem;
    padding-bottom: .5rem;
}
#join {
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}
.join-content {
    text-align: center;

}
#join-button {
    border: 5px solid black;
    color: var(--main-color);
    font-family: var(--main-font);
    font-size:1.5rem;
    background-color: var(--sub-color);
    padding: 15px 30px;
    border-radius: 7px;

}

#join-button:hover {
    color: white;
    background-color: black;
}
#events {
    grid-row: 3/4;
    text-align: center;
    padding: 1rem;

}

#spotlights {
    grid-row: 4/5;
    text-align: center;
    padding: 1rem;
}
#sidebar {
    background-color: var(--main-color);
    color: white;
    font-family: var(--main-font);
    padding: 1rem;
    display: block;
    text-align: center;
    padding: 1rem;


}

footer {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--sub-color);
    color: black;
    padding: .5rem;
    padding-left: 2rem;
}

.footer1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

#contact {
    grid-row: 2/2;
    grid-column: 1/2;
    font-family: var(--sub-font);
    padding-top: 1rem;
}

#project {
    grid-row: 1/2;
    grid-column: 2/4;
}

#last {
    grid-row: 2/2;
    grid-column: 2/4;
}

/* start of discover page styles */

.images-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    align-items: center;
    padding-top: 2rem;
}

.imgages-container p {
    text-align: center;
    max-width: 60%;
    font-size: 1.2rem;
}
.images-container img {
    box-shadow: 10px 10px 8px black;
    border-radius: 10px;
}
/* start of form page styles */
#join-form{
    /* display: grid;
    grid-template-columns: 1fr auto; */
    margin: 1rem;
}
#benfits h3, #application h3 {
    font-family: var(--main-font);
}
/* #application {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem; 
} */

#application h3, #application .submitBtn {
    margin: 0 2rem;
}
#benefits {
    /* grid-column: 2/3;
    grid-row: 1/2; */
    margin: 10px 0;
    padding: .5rem 1rem;
    background-color: var(--main-color);
    color: white;
    border-radius: 7px;
}
#benefits ul {
    font-family: var(--sub-font);
}
form label {
    display: block;
    padding: .5rem;
}
form legend {
    color: var(--main-color);
    font-size: 1.2rem;
}
form fieldset {
    font-family: var(--sub-font);
    margin: 1rem;
    border: 2px dashed var(--main-color);
    border-radius: 10px;
    padding: 1rem 2%;

}
form label.top input, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid  1px black;
    border-radius: 4px;
    padding: .75rem;
    color: var(--main-color);
    width: 100%;
    max-width: 20rem;
    background-color:#dcdadcde;

}
form label.sbs {
    padding: .75rem 0;
}
form label.top input:required {
    border: solid 3px blue;
}
form label.top input:required:valid {
    border: solid 1px black;
}
.submitBtn {
    background-color: var(--main-color);
    color: white;
    border: 2px solid black;
    font-family: var(--main-font);
    font-size:1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
}


/* start of thank you message styles */
.thankYou {
    display: block;
    margin: 2rem;
}