/* font-family: 'Days One', sans-serif;
font-family: 'Kanit', sans-serif;
blue #033e87	gray #D8D4D8 */

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}

header {
    grid-column: 1/4;
    display: flex;
    background-color: #033e87;
    color: white;
    font-family: 'Days One', sans-serif;
    padding: 1rem;
    justify-content: center;
}
nav {
    grid-column: 1/4;
    background-color: #D8D4D8;
    justify-content: space-around;
    display: flex;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
}
nav a {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}
nav a:hover {
    background-color: black;
    color: white; 
}
nav .active {
    background-color: white;
    border: 3px solid black;

}
h2, h3 {
    font-family: 'Days One', sans-serif;
}
p {
    font-family: 'Kanit', sans-serif;
}
main {
    grid-column: 1/3;
    padding-left: 4rem;
    /* display: grid; */
    /* grid-template-columns: 1fr repeat(8); */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* row-gap: 10px;
    column-gap: 10px; */
}
#hero, #join, #events, #spotlights {
    /* grid-column: 2/8; */
    padding: 1rem;
    /* padding-left: 3rem; */
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}
#hero-box {
    grid-column: 1/4;
    /* grid-row: 1/3; */
    z-index: -1;
}
#welcome {
    grid-column: 2/3;
    text-align: center;
    color: #033e87;
    font-size: 2rem;
}
#hero-msg {
    display: block;
    margin-top: -310px;
    grid-column: 1/3;
    font-size: 1.5rem;
    color: black;
    /* background-color: #ffffff90; */
    max-height: 200px;

    padding: 2rem;
    /* grid-row: 1/2; */
    /* grid-column: 2/3;
    grid-row: 1/2; */
    width: 100%;

}
#hero-img {
    width: 100%;
    opacity: .5;
}

#sidebar {
    grid-column: 3/4;
    /* display: block; */
    padding: 1rem;
    background-color: #033e87;
    color: white;
    text-align: center;
}
footer {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    /* grid-template-rows: 35px 35px; */
    /* grid-gap: 10px; */
    background-color: #D8D4D8;
    color: black;
    padding: .5rem;
    padding-left: 2rem;
}
.footer1 {
    grid-row: 1/2;
    grid-column: 1/2;
}
#contact {
    grid-row: 2/2;
    grid-column: 1/2;
    align-content: top;
}
#project {
    grid-row: 1/2;
    grid-column: 2/4;
}
#last {
    grid-row: 2/2;
    grid-column: 2/4;

}