@media screen and (max-width: 640px) {
    nav, footer{
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card{
        grid-column: 1/2;
    }

}