/* large view navigation ************************************/

@media (min-width: 640px) {


    body, main {
        max-width: 1200px;

    }
	h1 {

		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
        display: flex;
		flex-direction: row;
        justify-content: center;
	}

	.navigation div {
		display: flex;
        width: 100%;
	}
    main {
        display: grid;;
        grid-template-columns: auto 200px;
        grid-template-rows: auto auto auto 1fr;
        max-width: 1200px;
        margin: 0 auto;

    }
    #join-event-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #sidebar {
        grid-column: 2/3;
        grid-row: 1/5;
        background-color: #033e87;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 200px;

    }
    .weather {
        display: flex;
        flex-direction: column;
        text-align: center;
    
    }
    #benefits {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-left: 30px;
    }
    #application {
        grid-column: 1/2;
        grid-row: 1/2;
        /* margin: 1rem; */
    }
    #join-form{
        display: grid;
        grid-template-columns: auto 1fr;
        margin: 2rem;
    }
    /* start of discover page styles */

    .images-container img:hover {
        transform: scale(1.06);
    }

    .imgages-container img {
        transition: transform 0.3s ease;
    }
    #sl-container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        padding: .25rem;
        max-width: 90%;
        justify-content: space-around;
      }
   #sl-container section {
        width: 250px;

   }
    /* end of spotlight styles */
   .weather-cont-home {

        max-width: 50%;
   }
   #home-msg-container {
    max-width: 50%;
   }
}


