body {
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
}
h1, h2 {
    text-align: center;
}
h2 {
    color: white;
    margin: 0 auto;

}
header {
    position: relative;
    display: flex;
    background-color: rgb(97, 50, 207);
    padding: 1rem;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}
#darkBtn {
    position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
    padding: 1px 1px;
    background-color: black;
}
main.dark {
    background-color:black;
    color: white;
}
main.dark a {
    color: lightgreen;
}
main.dark a:hover {
    color: lightskyblue;
}

main.dark .card {
    background-color:black;
    color: white;
    border-color: white;

}

#menu {
    width: 44px;
    height: 44px;
	font-size: 1.5rem;
	/* border: 1px solid rgba(0,0,0,.3); */
	padding: 3px 7px 6px;
	/* background-color: #eee; */
	color: #000;
 	position: absolute;
	top: 10px;
	right: 10px;
}

#menu::before {
	content: "\2630";
}

#menu.open::before {
	content: "\2716";
}
#name {
    padding: 1rem;
}
img {
    border: 1px solid white;
}
.navigation {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #1c0258;
    /* font-size: 1.3rem; */
}

.navigation div {
    display: none;
}

.navigation a {
    display: flex;
    padding: 1rem;
    text-align: center;
    color: white;
	text-decoration: none;
    width: 100%;
    font-size: 1.2rem;
}


nav a:hover {
    background-color: rgba(225, 225, 225, 0.2); 
}
/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.navigation.open div {
	display: flex;
	width: 100%;
    flex-direction: column;
}

.navigation.open div a {
	display: block;
    width: 100%;
}
.navigation div a {
    display: block;
    width: 100%;
}
nav .active {

    background-color: rgb(2, 82, 135);

}
h1 {
    grid-column: 1/3;
    margin: 0 auto;
    padding: 1rem;
}

.card-container {
    margin: 0 auto;
    color: black;
    padding: 1rem;

}

.card {
    background-color: white;
    border: 2px solid black;
    margin: 1rem;
    border-radius: 10px;

}
.card-header {
    background-color: rgb(1, 95, 130);
    padding: .5rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}
.card a {
    padding: .8rem;

}

li {
    list-style-type: none;
    font-size: 1.2rem;
}
.info {
    padding: 1rem;
    font-size: 1.2rem;
}

footer {
    margin: 0 auto;
    display: block;
    background-color: rgb(97, 50, 207);
    color: white;
    text-align: center; 
    padding: 0.5rem;
}

nav, footer{
    flex-direction: column;
}
nav a {
    display: block;
}
li {
    padding: 0.5rem;
}
/* main {
    display: block;
} */




