body {
    font-family: 'Dosis', sans-serif;
}
header {
    display: flex;
    background-color: rgb(97, 50, 207);
    padding: 1rem;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    
}
#name {
    padding: 1rem;
}
img {
    border: 1px solid white;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(1, 95, 130);
    font-size: 1.3rem;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1rem;
}
nav a:hover {
    background-color: rgba(255,255,255, 0.2);
    /* color: white; */

}
nav .active {
    background-color: #1c0258;
}
h1 {
    grid-column: 1/3;
}
main {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.card {
    background-color: white;
    border: 2px solid black;
    margin: 1rem;
    border-radius: 10px;

}
.card-header {
    background-color: rgb(1, 95, 130);
    padding: .5rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}
.card a {
    padding: .5rem;

}
h1, h2 {
    text-align: center;
}
h2 {
    color: white;
    margin: 0 auto;

}
li {
    list-style-type: none;
    font-size: 1.2rem;
}
.info {
    padding: 1rem;
    font-size: 1.2rem;
}

footer {
    display: block;
    background-color: rgb(97, 50, 207);
    color: white;
    text-align: center; 
    padding: 0.5rem;
}
#lastModified {
    color: yellow;
}



